#panel-bg {
	-fx-fill: #242424;
}

#settings-text {
	-fx-font-family: 'Raleway Light';
	-fx-font-size: 40;
	-fx-fill: #FCFCFC;
}

.agent-value {
	-fx-faint-focus-color: transparent;
	-fx-focus-color: transparent;
	-fx-text-box-border: transparent;
	-fx-highlight-fill: #242424;
	-fx-highlight-text-fill: #FCFCFC;
	-fx-font-family: 'Raleway';
	-fx-control-inner-background: #FCFCFC;
}

#start-stack {
	-fx-cursor: hand;
}

#start-text {
	-fx-font-family: 'Raleway';
	-fx-font-size: 16;
	-fx-fill: #FCFCFC;
}