#panel-bg {
	-fx-fill: #242424;
}

#settings-text {
	-fx-font-family: 'Raleway Light';
	-fx-font-size: 40;
	-fx-fill: #FCFCFC;
}

#stats-text {
	-fx-font-family: 'Raleway Light';
	-fx-font-size: 40;
	-fx-fill: #FCFCFC;
}

.agent-text {
	-fx-fill: #FCFCFC;
	-fx-font-family: 'Raleway Semibold';
	-fx-font-size: 14;
}

.agent-stats-text {
	-fx-fill: #FCFCFC;
	-fx-font-family: 'Poppins Semibold';
	-fx-font-weight: 700;
	-fx-font-size: 17;
}

.agent-stats {
	-fx-fill: #FCFCFC;
	-fx-font-family: 'Poppins';
	-fx-font-size: 17;
}

.agent-value {
	-fx-faint-focus-color: transparent;
	-fx-focus-color: transparent;
	-fx-text-box-border: transparent;
	-fx-highlight-fill: #242424;
	-fx-highlight-text-fill: #FCFCFC;
	-fx-font-family: 'Raleway';
	-fx-control-inner-background: #FCFCFC;
}

#speed-text {
	-fx-fill: #FCFCFC;
	-fx-font-family: 'Raleway';
	-fx-font-size: 15;
}

#start-stack {
	-fx-cursor: hand;
}

#start-text {
	-fx-font-family: 'Raleway';
	-fx-font-size: 16;
	-fx-fill: #FCFCFC;
}

#speed-slider .track {
	-fx-background-color: #515658;
}

#speed-slider .thumb {
	-fx-background-color: #6E7577;
}

#speed-slider {
	-fx-tick-label-fill: #6E7577;
	-fx-show-tick-labels: true;
	-fx-snap-to-ticks: true;
	-fx-major-tick-unit: 1;
	-fx-minor-tick-count: 0;
	-fx-block-increment: 1;
	-fx-control-inner-background: #515658;
}